{% extends 'main/base.html' %}

{% block title %}Produkty | {{ block.super }}{% endblock %}

{% block content %}
  <h1>Produkty</h1>

  <div class="row">
    <form method="get" action="{% url 'homepage' %}">
      <div class="input-group mb-3">
        <input
          type="text"
          name="search"
          value="{{ request.GET.search }}"
          class="form-control"
          placeholder="Hledat produkt..."
          aria-label="Hledat"
          aria-describedby="button-addon2"
        >
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Hledat</button>
      </div>
    </form>
  </div>

  <!-- Kategorie filtry -->
  <div class="mb-3">
    <a href="{% url 'homepage' %}" class="btn {% if not kategorie %}btn-primary{% else %}btn-outline-secondary{% endif %}">Vše</a>
    <a href="?kategorie=detske" class="btn {% if kategorie == 'detske' %}btn-primary{% else %}btn-outline-secondary{% endif %}">Dětské</a>
    <a href="?kategorie=damske" class="btn {% if kategorie == 'damske' %}btn-primary{% else %}btn-outline-secondary{% endif %}">Dámské</a>
    <a href="?kategorie=panske" class="btn {% if kategorie == 'panske' %}btn-primary{% else %}btn-outline-secondary{% endif %}">Pánské</a>
  </div>
  
  <div class="row">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn {% if not genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="{% url 'homepage' %}">Vše</a>
      </li>
      {% for g in genres %}
      <li class="list-inline-item">
        <a class="btn {% if g.jmeno == genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="?genre={{ g.jmeno }}">{{ g.jmeno }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2">
    {% for produkt in produkty %}
      <div class="col">
        <div class="card h-100" style="cursor: pointer;" onclick="location.href='{% url 'produkt_detail' produkt.id %}'">
          <img class="card-img-top" src="{% if produkt.obrazek %}{{ produkt.obrazek.url }}{% else %}//place-hold.it/200x250/{% endif %}" alt="Produkt obrázek">
          <div class="card-body">
            <h5 class="card-title">{{ produkt.jmeno }}{% if produkt.rok %} ({{ produkt.rok }}){% endif %}</h5>
            {% for genre in produkt.genres.all %}
              <span class="badge bg-primary">{{ genre.jmeno }}</span>
            {% endfor %}
            <p class="card-text">{{ produkt.popis|truncatewords_html:10 }}</p>
            <span class="badge bg-info">{{ produkt.get_kategorie_display }}</span>
          </div>
          <div class="card-footer text-end">
            <a href="{% url 'produkt_detail' produkt.id %}" class="btn btn-outline-primary">Detaily</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>Boty které hledáte nebyly nalezeny. 😢</p>
    {% endfor %}
  </div>
{% endblock %}