{% extends "main/base.html" %}
{% block content %}
<h1>
    Produkty
</h1>
<p>
    Naše ceny jsou lepší jak v TEMU🤯
</p>
<div class="row">
<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQjVPeVRbG52JSc3idSI5QkzdVVoWkpO-LRwIm5MQvFfYo6_rNZdhKjKDqdOhp4xFfjxZ7musCUNCBiHfPGY_U7cqIhxIhWiQxGI6sXeB1e_703HZ3-X5coXA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pánské Nike Air Max Alpha Trainer 6 fitness boty</h5>
          <p class="card-text">Tyto boty musíš mít😮.</p>
          <a href="#" class="btn btn-primary">Zobrazit produkt</a>
        </div>
      </div>
    </div>
<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="https://www.koloshop.cz/media/61/50/615074eaf75f6fa3-1600-1200-wz-60.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nike Air Max Motion LW dámské sportovní boty tyrkysové</h5>
          <p class="card-text">Tyto boty musíš mít😮.</p>
          <a href="#" class="btn btn-primary">Zobrazit produkt</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQjVPeVRbG52JSc3idSI5QkzdVVoWkpO-LRwIm5MQvFfYo6_rNZdhKjKDqdOhp4xFfjxZ7musCUNCBiHfPGY_U7cqIhxIhWiQxGI6sXeB1e_703HZ3-X5coXA" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pánské Nike Air Max Alpha Trainer 6 fitness boty</h5>
              <p class="card-text">Tyto boty musíš mít😮.</p>
              <a href="#" class="btn btn-primary">Zobrazit produkt</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQjVPeVRbG52JSc3idSI5QkzdVVoWkpO-LRwIm5MQvFfYo6_rNZdhKjKDqdOhp4xFfjxZ7musCUNCBiHfPGY_U7cqIhxIhWiQxGI6sXeB1e_703HZ3-X5coXA" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pánské Nike Air Max Alpha Trainer 6 fitness boty</h5>
                  <p class="card-text">Tyto boty musíš mít😮.</p>
                  <a href="#" class="btn btn-primary">Zobrazit produkt</a>
                </div>
              </div>
            </div>
   </div>
   <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQjVPeVRbG52JSc3idSI5QkzdVVoWkpO-LRwIm5MQvFfYo6_rNZdhKjKDqdOhp4xFfjxZ7musCUNCBiHfPGY_U7cqIhxIhWiQxGI6sXeB1e_703HZ3-X5coXA" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pánské Nike Air Max Alpha Trainer 6 fitness boty</h5>
              <p class="card-text">Tyto boty musíš mít😮.</p>
              <a href="#" class="btn btn-primary">Zobrazit produkt</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQjVPeVRbG52JSc3idSI5QkzdVVoWkpO-LRwIm5MQvFfYo6_rNZdhKjKDqdOhp4xFfjxZ7musCUNCBiHfPGY_U7cqIhxIhWiQxGI6sXeB1e_703HZ3-X5coXA" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pánské Nike Air Max Alpha Trainer 6 fitness boty</h5>
                  <p class="card-text">Tyto boty musíš mít😮.</p>
                  <a href="#" class="btn btn-primary">Zobrazit produkt</a>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQjVPeVRbG52JSc3idSI5QkzdVVoWkpO-LRwIm5MQvFfYo6_rNZdhKjKDqdOhp4xFfjxZ7musCUNCBiHfPGY_U7cqIhxIhWiQxGI6sXeB1e_703HZ3-X5coXA" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pánské Nike Air Max Alpha Trainer 6 fitness boty</h5>
                      <p class="card-text">Tyto boty musíš mít😮.</p>
                      <a href="#" class="btn btn-primary">Zobrazit produkt</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQjVPeVRbG52JSc3idSI5QkzdVVoWkpO-LRwIm5MQvFfYo6_rNZdhKjKDqdOhp4xFfjxZ7musCUNCBiHfPGY_U7cqIhxIhWiQxGI6sXeB1e_703HZ3-X5coXA" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pánské Nike Air Max Alpha Trainer 6 fitness boty</h5>
                          <p class="card-text">Tyto boty musíš mít😮.</p>
                          <a href="#" class="btn btn-primary">Zobrazit produkt</a>
                        </div>
                      </div>
                    </div>
       </div>
{% endblock  %}