{% extends 'main/base.html' %}

{% block title %}{{ produkt.jmeno }} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row my-3">
        <div class="col">
            <a href="{% url 'homepage' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>
    <hr>

    <h1>{{ produkt.jmeno }}</h1>

    <p>
        {% if produkt.obrazek %}
            <img src="{{ produkt.obrazek.url }}" alt="Produkt obrázek" class="img-fluid">
        {% else %}
            <img src="//place-hold.it/180x100/" alt="Produkt obrázek" class="img-fluid">
        {% endif %}
    </p>

    <ul class="list-group mb-3">
        <li class="list-group-item"><strong>Cena:</strong> {{ produkt.cena }} Kč</li>
        <li class="list-group-item"><strong>Barva:</strong> {{ produkt.barva }}</li>
        <li class="list-group-item"><strong>Velikost:</strong> {{ produkt.velikost }}</li>
        <li class="list-group-item"><strong>Kategorie:</strong> {{ produkt.get_kategorie_display }}</li>
    </ul>
    <p>{{ produkt.popis }}</p>

    {% if objednano %}
        <div class="alert alert-success">Produkt byl objednán!</div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Objednat</button>
        </form>
    {% endif %}
{% endblock %}