{% extends 'main/base.html' %}

{% block title %}{{produkt.jmeno}} | {{ block.super }}{% endblock %}

{% block content %}

    <div class="row my-3">
        <div class="col">
            <a href="{% url 'homepage' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>
    <hr>

    <h1>{{ produkt.jmeno }}</h1>

    <p>
        {% if produkt.obrazek %}
            <img src="{{produkt.obrazek}}" alt="Produkt poster" class="img-fluid">
        {% else %}
            <img src="//place-hold.it/180x100/" alt="Movie poster" class="img-fluid">
        {% endif %}
    </p>

    <p>
        {% if produkt.rok %}
            <h6>Rok: {{ movie.year }}</h6>
        {% endif %}
        {% if produkt.rok %}
            <h6>Délka: {{ movie.footage }} min</h6>
        {% endif %}

        {% for genre in produkt.genres.all %}
            <span class="badge bg-primary">{{ genre.jmeno }}</span>
        {% endfor %}

    <p>
        {{produkt.popis}}
    </p>
{% endblock %}